@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto+Serif:opsz@8..144&family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Manrope:wght@200;300;400&family=Poppins:wght@200;300;400;500;600&family=Roboto+Serif:opsz@8..144&display=swap");
:root {
	--primary_color: rgb(0, 166, 235);
	--secondar_color: #4e4e4e;
}

* {
	margin: 0;
	padding: 0;
}
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: sans-serif;
}
.my_row {
	padding: 0 !important;
	margin: 0 !important;
}
.my_section_container {
	width: 95%;
	margin: 0 auto;
	box-shadow: 1px 1px 20px black;
}

.my_col_xs_3 {
	width: 30%;
	padding: 0;
}
.my_col_xs_9 {
	width: 70%;
	padding: 0;
}

.my_button {
	background-color: var(--primary_color);
	color: white;
	width: 30%;
	border-radius: 50px;
}
.my_button:hover {
	background-color: white;
	color: var(--primary_color);
}

/* navbar styling start here */
.navbar_stick {
	top: 0;
	position: sticky;
	z-index: 10;
	background-color: black !important;
}
.logo {
	font-family: "Roboto Slab", serif;
	font-size: 2rem;
	color: var(--primary_color);
}
.logo:hover {
	color: white;
}
.navigate_link {
	color: white;
	font-size: 1.2rem !important;
	font-weight: 500 !important;
	line-height: 1em !important;
}
.navigate_link:hover {
	transform: scale(1.2);
	color: var(--primary_color);
}
.icons:hover {
	transform: scale(1.2);
}
.my-navbar-nav {
	width: 60%;
}
@media (min-width: 0px) and (max-width: 991px) {
	#profile-icons {
		display: none !important;
	}
}
/* navbar styling ends here */

/* banner css starts here */
.banner {
	background-color: black;
	height: 92vh;
	color: aliceblue;
}
.banner-heading-2 {
	color: var(--primary_color);
}

/* banner css starts here */

/* underline animation for all headings starts from here */
.heading::first-letter {
	color: var(--primary_color);
}
.heading {
	text-align: center;
}
.heading .bar {
	position: relative;
}
.heading .bar:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 3px;
	left: 50%;
	position: absolute;
	background-color: var(--primary_color);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.heading .bar:hover:after {
	width: 100%;
	left: 0;
}

/* underline animation for all headings ends from here */

/* about me section css starts here */

.my-pic {
	width: 100%;
}
.personal_info_about_me {
	font-size: 1.25rem;
	font-family: "Manrope", sans-serif;
}
.about-me-text {
	font-family: "Manrope", sans-serif;
	font-weight: 300;
	text-align: justify;
	color: var(--secondar_color);
	font-size: 1.25rem;
}

/* about me section css ends here */

/* My skills section css starts here  */
/* Project section css starts here  */

/* contact section css starts here  */

/* .contact-section {
	font-family: sans-serif;
	margin-top: 10%;
} */
.contact-outer {
	background: url("../Images/2.jpg") repeat fixed 100%;
}
.contact-middle {
	background-color: rgba(101, 178, 211, 0.724);
}
.contact-inner {
	padding: 50px;
}
.contact-heading {
	text-align: left !important;
	color: black !important;
}
.contact-heading::first-letter {
	color: black !important;
}
.form-common {
	border-radius: 0;
	background: white;
	background-color: rgba(255, 255, 255, 0.162);
	border: none;
}
.form-common::placeholder {
	color: var(--secondar_color);
}
.contact-side {
	padding: 20px !important;
	background-color: rgba(222, 226, 235, 0.55);
}
/* contact section css ends here  */

/* footer css starts here  */
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(0, 166, 235);
	height: 150px;
	color: white;
	font-size: large;
	font-family: sans-serif;
}
/* footer css ends here  */

@media (min-width: 0px) and (max-width: 615px) {
	.my_button_sm {
		width: 70%;
	}
}
